<nav class="navbar navbar-expand-lg bg-dark text-light">
   <div class="container">
      <a class="navbar-brand text-light" href="/">Blog</a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/avatar.jpg" alt="" class="user-avatar">
                Vũ Cường
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="/courses/create">Đăng khoá học</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
              </ul>
            </li>
         </ul>
      </div>
   </div>
</nav>